@vite(['resources/css/components/movies/grid.css'])

@if(title)
  <h2 class="movie-grid-header">
    {{ title }}
  </h2>
@end

<div class="movie-grid">
  @each(movie in list)
    @!movies.card({ movie })
  @end
</div>
