.redis-button-container {
  position: fixed;
  inset-block-end: 0;
  inset-inline-end: 2rem;

  & .redis-buttons {
    display: inline flex;
    gap: 0.375rem;
    align-items: center;
    border-end-start-radius: 0;
    border-end-end-radius: 0;
  }
}
