.movie-title {
  /* blank */
}

.basic-textbox.movie-abstract {
  max-inline-size: 50%;
}

.cineast-section {
  display: block grid;
  grid-template-columns: 1fr 1fr;
  max-inline-size: 80%;

  & .basic-textbox.cast-section {
    /* blank */
  }

  & .basic-textbox.crew-section {
    /* blank */
  }
}
