@defaultLayout({
  title: 'Show Movie Page',
  cssArray: ['resources/css/pages/movies/show.css']
}) 
  <h1 class="movie-title">
    {{ movie.title }}
  </h1>
  @if (movie.abstract)
    <div class="movie-description">
      {{{ movie.abstract }}}
    </div>
  @else
    No Abstract
  @endif
  {{ inspect(movie) }}
@end